*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

html {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  line-height: 1.5;
}

button {
  appearance: button;
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

html,
body {
  height: auto !important;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto !important;
}

.h-full,
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
}

#sandbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: auto;
  width: 100%;
}

#controls-root {
  display: contents;
}
